{% for product in products %}
	<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="{{ product.image.url }}" alt="{{ product.title }}">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="{{ product.get_absolute_url }}">
                                <i class="fa fa-search"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>${{ product.price }}</h5>
                        </div>
                    </div>
                </div>
            </div>
{% endfor %}
