{% extends 'parent/base.html' %}

{% block title %}contact us form{% endblock %}


{% block content %}
    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4">
            <span class="bg-secondary pr-3">Contact Us</span>
        </h2>
        <div class=" px-xl-5">
            <div class=" mb-5 contact-us" style="">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form action="" method="post" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="control-group">
                            {{ form.name.label_tag }}
                            {{ form.name }}
                            {{ form.name.errors }}
                        </div>
                        <br>
                        <div class="control-group">
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                        <br>
                        <div class="control-group">
                            {{ form.phone.label_tag }}
                            {{ form.phone }}
                            {{ form.phone.errors }}
                        </div>
                        <br>
                        <div class="control-group">
                            {{ form.subject.label_tag }}
                            {{ form.subject }}
                            {{ form.subject.errors }}
                        </div>
                        <br>
                        <div class="control-group">
                            {{ form.message.label_tag }}
                            {{ form.message }}
                            {{ form.message.errors }}
                        </div>
                        <br>
                        <div><button type="submit" class="btn btn-primary py-2 px-4">Send</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->
{% endblock %}
