{% extends 'parent/base.html' %}


{% block title %}post comment{% endblock %}

{% block content %}
    {% if comment %}
        <div class="centered mb-4 text-center">
            <h2 class="h1 m-0">Your comment has been registered</h2>
            <br>
            <a href="{{ product.get_absolute_url }}" class="btn btn-dark mb-0">return to product</a>
        </div>
    {% else %}
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
                {{ form.description.errors }}
            </div>
            <div class="form-group mb-0">
                <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
            </div>
        </form>
    {% endif %}
{% endblock %}
