{% extends 'parent/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}product detail{% endblock %}

{% block content %}
    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="{{ product.image.url }}" alt="{{ product.title }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{ product.title }}</h3>
                    <h3 class="font-weight-semi-bold mb-4">${{ product.price }}</h3>
                    <p class="mb-4">{{ product.description }}</p>
                    <form action="{% url 'cart:add' product.id %}" method="post">
                        {% csrf_token %}
                        <div class="d-flex mb-3">
                            {% if product.size.all %}
                                <strong class="text-dark mr-3">{% trans 'Sizes' %}:</strong>
                                {% for size in product.size.all %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="{{ size.title }}"
                                               value="{{ size.title }}" name="size">
                                        <label class="custom-control-label"
                                               for="{{ size.title }}">{{ size.title }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="d-flex mb-4">
                            {% if product.color.all %}
                                <strong class="text-dark mr-3">{% trans 'Colors' %}:</strong>
                                {% for color in product.color.all %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="{{ color.title }}"
                                               value="{{ color.title }}" name="color">
                                        <label class="custom-control-label"
                                               for="{{ color.title }}">{{ color.title }}</label>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 130px;">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-minus"><i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control bg-secondary border-0 text-center" value="1"
                                       name="quantity">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary btn-plus"><i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>{% trans 'Add To Cart' %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row px-xl-5">
            <div class="col">
                <div class="bg-light p-30">
                    <div class="nav nav-tabs mb-4">
                        <a class="nav-item nav-link text-dark active" data-toggle="tab"
                           href="#tab-pane-1">{% trans 'Description' %}</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">{% trans 'Information' %}</a>
                        <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">{% trans 'Reviews' %}</a>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <h4 class="mb-3">{% trans 'Product Description' %}</h4>
                            <p>{{ product.description }}</p>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <h4 class="mb-3">{% trans 'Additional Information' %}</h4>
                            <p>{{ product.description }}</p>
                            <div class="row">
                                {% for info in product.informations.all %}
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item px-0">
                                            {{ info.text }}
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4 class="mb-4">{{ comments|length }} {% trans 'review for' %} {{ product.title }}</h4>
                                    {% for comment in comments %}
                                        <div class="media mb-4">
                                            <img src="{% static 'img/user.jpg' %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                            <div class="media-body">
                                                <h6>{{ comment.name }}<small> - <i>{{ comment.created|timesince }}</i></small></h6>
                                                <p>{{ comment.description|linebreaks }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-md-6">
                                    <h4 class="mb-4">{% trans 'Leave a review' %}</h4>
                                    <form action="{% url 'product:comment' product.id %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            {{ form.name.label_tag }}
                                            {{ form.name }}
                                            {{ form.name.errors }}
                                        </div>
                                        <div class="form-group">
                                            {{ form.description.label_tag }}
                                            {{ form.description }}
                                            {{ form.description.errors }}
                                        </div>
                                        <div class="form-group mb-0">
                                            <input type="submit" value="{% trans 'Leave Your Review' %}" class="btn btn-primary px-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->
{% endblock %}
