{% extends 'parent/base.html' %}

{% block title %}product list{% endblock %}


{% block content %}
    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <form action="" method="get">
                    <!-- Price Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
                    <div class="bg-light p-4 mb-30">
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <label for="min">Min</label>
                                <input type="number" name="min_price" id="min">
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <label for="max">Max</label>
                                <input type="number" name="max_price" id="max">
                            </div>
                    </div>
                    <!-- Price End -->
                    <!-- Color Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h5>
                    <div class="bg-light p-4 mb-30">
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="color" value="black" class="custom-control-input"
                                       id="color-1">
                                <label class="custom-control-label" for="color-1">Black</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="color" value="white" class="custom-control-input"
                                       id="color-2">
                                <label class="custom-control-label" for="color-2">White</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="color" value="red" class="custom-control-input"
                                       id="color-3">
                                <label class="custom-control-label" for="color-3">Red</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="color" value="blue" class="custom-control-input"
                                       id="color-4">
                                <label class="custom-control-label" for="color-4">Blue</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                                <input type="checkbox" name="color" value="green" class="custom-control-input"
                                       id="color-5">
                                <label class="custom-control-label" for="color-5">Green</label>
                            </div>
                    </div>
                    <!-- Color End -->
                    <!-- Size Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
                    <div class="bg-light p-4 mb-30">
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="size" value="l" class="custom-control-input" id="size-1">
                                <label class="custom-control-label" for="size-1">l</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="size" value="xl" class="custom-control-input" id="size-2">
                                <label class="custom-control-label" for="size-2">xl</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="size" value="xxl" class="custom-control-input" id="size-3">
                                <label class="custom-control-label" for="size-3">xxl</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="size" value="xxxl" class="custom-control-input"
                                       id="size-4">
                                <label class="custom-control-label" for="size-4">xxxl</label>
                            </div>
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                                <input type="checkbox" name="size" value="xxxxl" class="custom-control-input" id="size-5">
                                <label class="custom-control-label" for="size-5">xxxxl</label>
                            </div>
                    </div>
                    <!-- Size End -->
                    <input type="submit" class="btn btn-info rounded" value="submit">
                </form>
            </div>
            <!-- Shop Sidebar End -->
            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <img class="img-fluid w-100" src="{{ product.image.url }}" alt="">
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" href="{{ product.get_absolute_url }}"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>${{ product.price }}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-12">
                        {% include 'partials/pagination.html' with page=products %}
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
{% endblock %}
